@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");
.Photos {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: white;
  border: solid 1px #dadada;
  border-bottom: solid 1px #868686;
  border-radius: 5px;
  color: #868686;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-size: 1em; }
  .Photos .P-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10%;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px; }
    .Photos .P-header h1 {
      color: #242424;
      font-size: 1.4em;
      margin-bottom: 10px; }
  .Photos .P-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%; }
    .Photos .P-container .P-uploads {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: space-around;
      width: 75%;
      height: 100%; }
      .Photos .P-container .P-uploads .photoholder {
        width: 22%;
        height: 200px;
        margin: 10px;
        border: solid 1px #dadada; }
    .Photos .P-container .P-info {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 20px; }
      .Photos .P-container .P-info .P-top {
        margin-top: 10px;
        margin-bottom: 20px; }
        .Photos .P-container .P-info .P-top h1 {
          color: #242424;
          font-size: 1.2em;
          margin-bottom: 20px; }
      .Photos .P-container .P-info .P-bottom h2 {
        margin-bottom: 20px; }
      .Photos .P-container .P-info .P-bottom li {
        margin-bottom: 10px;
        display: list-item;
        list-style-type: disc;
        list-style-position: inside; }
