@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');


$logoFont: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

$orangeColor: #F56400;
$inputBackground: #f9f9f8;
$lightGray: rgb(218, 218, 218);
$black: rgb(36, 36, 36);
$gray: rgb(134, 134, 134);

