@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");
.Entertain {
  background-color: #FFFFFF;
  position: absolute;
  top: 120px;
  left: 20px;
  border: solid 1px #dadada;
  width: 60%;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  height: 325px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .Entertain h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    font-weight: bolder; }
  .Entertain h1:hover {
    text-decoration: underline; }
  .Entertain .selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    font-weight: lighter;
    opacity: .75; }
  .Entertain .selector:hover {
    background-color: peachpuff; }
  .Entertain .all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    padding: 15px;
    font-weight: bolder; }
  .Entertain .all:hover {
    text-decoration: underline; }
